body {
  margin: 25px;
  font-family: arial, sans-serif;
  font-size: 14px;
}
hr{
  border-top: 2px solid rgb(82, 145, 216);
  width: 100%;
}
p,ul{
  font-size: 21px;
}

#role{
  color: rgb(82, 145, 216);
}
img {
  height:200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid rgb(82, 145, 216);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.color_box{
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  width:30px;
  height:60px;
}
.box{
  float: left;
  width: 10%;
}
.data1{
  float:left;
  width:90%;
}
.column1{
  width:38.33%;
  float:left;
  padding-bottom: 20px;
}
.column2{
  width:38.33%;
  float:left;
  padding-bottom: 20px;
}
.image{
  width:23.33%;
  float:left;
  padding-bottom: 20px;
}
.head{
  float:top;
}
.column3{
  float:left;
  width:50%;
}
.column4{
  float:right;
  width: 50%;
}
.data2{
  float:right;
  font-size: x-large;
}
.box2{
  float:left;
  width:5%;
  height:100%;
}
.data3{
  float:left;
  width:95%;
  height:100%;
}

.color_box2{
  background-color: rgb(82, 145, 216);
  border: 1px solid rgb(82, 145, 216);
  width:30px;
  height:60px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 25px;
}
#techused{
  float:right;
  color: rgb(82, 145, 216);
}
.ul{
  list-style: none;
}
.li::before{
  content:"\2022";
  color:rgb(82, 145, 216);
  font-size: 200%;
  padding-right: 15px;
}
#institute{
  font-size: 23px;
}
#time-line{
  color:rgb(82, 145, 216);
}
.filled{
  float:left;
  width:20px;
  height: 20px;
  border-radius: 20%;
  border:1px solid rgb(82, 145, 216);
  background-color: rgb(82, 145, 216) ;
}
.empty{
  float:left;
  width:20px;
  height:20px;
  border-radius: 20%;
  border:1px solid rgb(82, 145, 216);
  background-color: rgb(188, 213, 241);

}
.lang{
  float:left;
  font-size: 21px;
  width:20%;
  height:20px;
}
.rating{
  width:80%;
}
.one{
  float:left;
  width:10%;
}
.two{
  float:left;
  width:10%;
}
.three{
  float:left;
  width:10%
}
.four{
  float:left;
  width:10%;
}
.five{
  float:left;
  width:10%;
}
.whole-lang{
  width:100%;
}
.data4{
  padding-left: 60px;
}
.skill{
  width:40%;
  font-size: 21px;
  float:left;
}
.skill-rating{
  float:left;
  width:50%;
  height:15px;
  border-radius: 10px;
  border:2px solid rgb(82, 145, 216);
}
#bar-fill-ps{
  width: 85%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-tw{
  width: 90%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-c{
  width: 75%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-ql{
  width: 95%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-java{
  width: 90%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-python{
  width: 95%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-cl{
  width: 70%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-sql{
  width: 85%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-php{
  width: 50%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-js{
  width: 60%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-html{
  width: 70%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-css{
  width: 70%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
#bar-fill-ml{
  width: 50%;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(82, 145, 216);
}
.default-marking{
  float:right;
  padding-right: 9.5%;
  color:rgb(82, 145, 216);

}
.i1{
  width:50%;
  float: left;
}
.i2{
  width:50%;
  float:left;
}
.hobbies{
  list-style:none;
}
.material-icons{
  padding-right: 20px;
}